<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<!--  script type="text/javascript" src="/js/home.js"></script>
  <script type="text/javascript" src="/js/indexx.js"></script>
<script type="text/javascript" src="/js/create.js"></script>
<script type="text/javascript" src="/js/viewInfo.js"></script-->
</head>

<body style="background-color:blue">

<form method="post" action="createAcc">
<div class ="container-fluid">

<div class="form-group">
  <label for="usr">Email</label>
  <input type="text" name="email"   class="form-control" id="email">
</div>

<div class="form-group">
  <label for="pwd">Password:</label>
  <input type="password"  name="password"   class="form-control" id="pwd">  
  
</div>

<div class="form-group">
  <label for="usr">Username{{7+7}}</label>
  <input type="text" name="username"   class="form-control" id="usr">
</div>


<div class="form-group">
  <label for="usr">FirstName{{7+7}}</label>
  <input type="text" name="fname"   class="form-control" id="fname">
</div>
<div class="form-group">
  <label for="usr">LastName{{7+7}}</label>
  <input type="text" name="lname"   class="form-control" id="fname">
</div>
 <input type="submit"   name="enter"  style="background-color: #696969" class="btn btn-info" value="Submit">


<!--  a href="#!checked" name="enter"  style="background-color: #696969" class="btn btn-info" value="Submit"-->




  


</div>
</form>
</body>
</html>