<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<!--script type="text/javascript" src="/js/home.js"></script-->
  <!--script type="text/javascript" src="/js/home.js"></script-->
<!--script type="text/javascript" src="/js/create.js"></script>
<script type="text/javascript" src="/js/viewInfo.js"></script-->
	
	
</head>

<body style="background-color:blue">

<div class ="container-fluid">
<!-- div class="form-group">
  <label for="usr">Name{{7+7}}</label>
  <input type="text" name="name" class="form-control" id="usr">
</div>

<div class="form-group">
  <label for="pwd">Password:</label>
  <input type="password" class="form-control" id="pwd">
</div-->


<nav class="navbar navbar-inverse">
  
 
  <!--  div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div-->
    <div class="container-fluid">
     <ul class="nav navbar-nav navbar-right">
      <li><a href="/Records2/create"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/Records2/Sign"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
  
</nav>
 
 <!--  input type="submit" name="enter" ng-click="change('home.html')" style="background-color: #696969" class="btn btn-info" value="Create Account">
  <input type="submit"  name="enter" style="background-color: #696969; position: relative; left: 50px;" class="btn btn-info" value="Sign In"-->


  <!-- ng-view> </ng-view-->
</div>


</body>

</html>