<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<!--  script type="text/javascript" src="/js/home.js"></script>
  <script type="text/javascript" src="/js/indexx.js"></script>
<script type="text/javascript" src="/js/create.js"></script>
<script type="text/javascript" src="/js/viewInfo.js"></script-->
</head>

<body style="background-color:blue">

<form method="POST" action="checkCred">
<div class="form-group">
  <label for="usr">Name{{7+7}}</label>
  <input type="text"  name="name" class="form-control" id="usr">
</div>

<div class="form-group">
  <label for="pwd">Password:</label>
  <input type="password" name="pwd"  class="form-control" id="pwd">
</div>
<div  class="container">

<button type="submit"  style="color:#003366; position: relative; top: 30px" class="btn  btn-primary btn-sm">Login</button>

</div>
</form>
</body>
</html>